
server.port=8080


#Mybatis Config
mybatis.mapper-locations=classpath:/mybatis/mapper/*Mapper.xml
mybatis.configuration.log-impl=org.apache.ibatis.logging.stdout.StdOutImpl

# DataSource, change this in producter
spring.datasource.url=jdbc:mysql://127.0.0.1:3306/BookSnippetsHub?cahracterEncoding=utf-8&serverTimezone=UTC 
spring.datasource.username=
spring.datasource.password=

#微信
wx.appid=
wx.secert=

